# Apache NiFi
NIFI_PASSWORD=your_nifi_admin_password_here

# Conduktor Console
CONDUKTOR_DB_USER=conduktor_db_username
CONDUKTOR_DB_PASSWORD=conduktor_db_password

# Snowflake dbt credentials
DBT_PASSWORD=your_snowflake_dbt_password_here

# Snowflake Kafka Connector
SNOWFLAKE_PRIVATE_KEY="MII...<your_private_key_here>...=="
